PORT=5001
MONGODB_URI=mongodb+srv://chhabrap187_db_user:giTmy2pqOKV06dzH@cluster1.cy3ixyh.mongodb.net/expense_tracker?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRE=7d
